﻿/* ***** COLOR VARIABLES ***** */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800&display=swap&subset=latin-ext");
.fg-white {
  color: #FFFFFF; }

.fg-black {
  color: #1E1E1E; }

.bg-white {
  background-color: #FFFFFF; }

.bg-black {
  background-color: #1E1E1E; }

html, body {
  position: relative;
  min-height: 100%;
  background-color: #FFFFFF;
  color: #1E1E1E;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  vertical-align: middle;
  overflow-x: hidden; }
  html::-webkit-scrollbar, body::-webkit-scrollbar {
    width: .75rem; }
  html::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.25rem gainsboro;
    background-color: #F5F5F5;
    border-radius: .625rem; }
  html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
    background: #cfcfcf;
    border-radius: .625rem; }
  html::-webkit-scrollbar-thumb:hover, body::-webkit-scrollbar-thumb:hover {
    background: darkgray; }
  @media screen and (max-width: 959px) {
    html, body {
      font-size: 14px; } }

a, a:active, a:visited, a:focus {
  text-decoration: none;
  outline: none !important; }
  a:hover, a:active:hover, a:visited:hover, a:focus:hover {
    text-decoration: none;
    color: #eeb202;
    outline: none !important; }

.container {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  max-width: 1440px; }
  @media screen and (max-width: 959px) {
    .container {
      max-width: initial; } }

.container-fluid {
  margin: 0 !important;
  padding: 0 !important; }

.d-grid {
  display: grid; }

.section-container {
  position: relative;
  width: 100%;
  height: 100%; }
  .section-container .section-content {
    max-width: 90%;
    height: auto;
    margin: auto; }
    @media screen and (max-width: 959px) {
      .section-container .section-content {
        max-width: 100%; } }
