﻿
/* ***** COLOR VARIABLES ***** */
$white: #FFFFFF;
$blak: #1E1E1E ;
$dark_yellow: #FDBD02;
$red: #E12000;
$green: #789D4A;
$bright_green:#60BA6C;
$gray: #7C7A7A;
$thin_gray: #F5F5F5;
$light_gray: #E6E6E6;
$darkish_gray: #494949;

.fg-white{
    color: $white;
}
.fg-black{
    color: $blak;
}

.bg-white {
    background-color: $white;
}

.bg-black {
    background-color: $blak;
}