﻿
/* ***** SIZES ***** */
.f-size-50 {
    font-size: .5rem;
}

.f-size-62-5 {
    font-size: 0.625rem;
}

.f-size-75 {
    font-size: .75rem;
}

.f-size-87-5 {
    font-size: 0.875rem;
}

.f-size-112-5 {
    font-size: 1.125rem;
}

.f-size-125 {
    font-size: 1.25rem;
}

.f-size-150 {
    font-size: 1.5rem;
}

.f-size-175 {
    font-size: 1.75rem;
}

.f-size-200 {
    font-size: 2rem;
}

.f-size-225 {
    font-size: 2.25rem;
}

.f-size-250 {
    font-size: 2.5rem;
}

.f-size-275 {
    font-size: 2.75rem;
}

.f-size-300 {
    font-size: 3rem;
}

.f-size-325 {
    font-size: 3.25rem;
}

.f-size-350 {
    font-size: 3.5rem;
}

.f-size-375 {
    font-size: 3.75rem;
}

.f-size-400 {
    font-size: 4rem;
}

.f-size-500 {
    font-size: 5rem;
}
/* ***** SPACING ***** */
.f-size-200,
.f-size-225,
.f-size-250,
.f-size-275,
.f-size-300,
.f-size-325,
.f-size-350,
.f-size-375,
.f-size-400,
.f-size-500 {
    letter-spacing: -0.035rem;
    line-height: 1;
    /*line-height: 0.75;*/
}
/*------------------- LINE HEIGHTS -------------------------*/
.f-line-h-50 {
    line-height: 0.5rem;
}

.f-line-h-62-5 {
    line-height: 0.625rem;
}

.f-line-h-112-5 {
    line-height: 1.125rem;
}

.f-line-h-125 {
    line-height: 1.25rem;
}

.f-line-h-150 {
    line-height: 1.5rem;
}

.f-line-h-175 {
    line-height: 1.75rem;
}

.f-line-h-200 {
    line-height: 2rem;
}

.f-line-h-250 {
    line-height: 2.5rem;
}

.f-line-h-350 {
    line-height: 3.5rem;
}

.f-line-h-450 {
    line-height: 4.5rem;
}

/* ***** WEIGHTS ***** */
.f-wght-500 {
    font-weight: 500;
}

.f-wght-600 {
    font-weight: 600;
}

.f-wght-700 {
    font-weight: 700;
}

.f-wght-800 {
    font-weight: 800;
}

.f-wght-900 {
    font-weight: 900;
}

/* ***** SHADOWS ***** */
.text_shadow_thin {
    text-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

/* ***** DIRECTION ***** */
.text_downwards {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
