﻿@import './__breakpoints.scss';
@import './__colours.scss';

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800&display=swap&subset=latin-ext');

html, body {
    position: relative;
    min-height: 100%;
    background-color: $white;
    color: $blak;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    vertical-align: middle;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: .75rem;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 .25rem darken($thin_gray, 10%);
        background-color: $thin_gray;
        border-radius: .625rem;
    }

    &::-webkit-scrollbar-thumb {
        background: darken($thin_gray, 15%);
        border-radius: .625rem;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: darken($thin_gray, 30%);
    }

    @include media-breakpoint('lt-md') {
        font-size: 14px;
    }
}

a, a:active, a:visited, a:focus {
    text-decoration: none;
    outline: none !important;

    &:hover {
        text-decoration: none;
        color: darken($dark_yellow, 3%);
        outline: none !important;
    }
}

.container {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    max-width: 1440px;

    @include media-breakpoint('lt-md') {
        max-width: initial;
    }
}

.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}

.d-grid {
    display: grid;
}

.section-container {
    position: relative;
    width: 100%;
    height: 100%;

    .section-content {
        max-width: 90%;
        height: auto;
        margin: auto;

        @include media-breakpoint('lt-md') {
            max-width: 100%;
        }
    }
}